/* #btn {
 width: 100px;
 height: 100px;
 background: aqua;

} */

/* #newbtn {
background: white;
 width: 1000px;
 height: 20px;
 border: 2px solid black;
 display: flex;
 justify-content: center;
 color:chocolate;
 word-break: break-all;
 font-size: 12px;
 background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
} */